/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[id="cat"] {
  color: var(--teal);
}
li[class*="og"] {
  color: var(--magenta);
}

li[class*="donkey"] {
  color: var(--royalblue);
}
li[class*="cat"] {
  color: var(--royalblue);
}
/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}

div[class="list-food"] > ol >li:nth-child(even) {
  color: var(--magenta);
}

div[class="list-food"] > ol >li:nth-child(3) {
  color: var(--royalblue);
}
