:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
}

.box {
  padding: 10px;
  color: var(--white);
}
.absolute {
  background-color: var(--maroon);
  position: absolute;
  height: 70px;
  width: 100%;
  top: 0px;
}
.static {
  background-color: var(--darkviolet);
  position: static;
  height: 400px;
  width: 300px;
}

.relative {
  background-color: var(--purple);
  position: relative;
  height: 400px;
  width: 300px;
  top: 50px;
}



.fixed {
  background-color: var(--darkgolden);
  position: fixed;
}
